.feature-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}
.features {
  padding: 120px 0;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  display: flex;
  flex-direction: column;
  width: 264px;
  gap: 8px;
}
.features-icon {
  width: 264px;
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  padding: 24px 100px;
}
